body {
  font-family: "Söhne", -apple-system, BlinkMacSystemFont, Helvetica, sans-serif,
    sans-serif;
  background-image: linear-gradient(to top right, #76b947, #7b5cba);
}

header {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 24px;
}

header h1 {
  margin: 0;
  font-size: 44px;
  color: white;
  text-align: center;
}

header nav {
  margin: px;
  display: inline-block;
  /* make the nav element inline so it can be centered along with the h1 element */
  margin-left: 50px;
  width: auto;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav li {
  display: inline;
  margin: 0 20px;
}

header nav a {
  text-decoration: none;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
  border: 2px solid white;
  float: left;
  /* margin-bottom: 24px; */
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

main section {
  flex: 1;
  margin-right: 20px;
}

main h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

main p {
  margin-bottom: 18px;
}

main h3 {
  font-size: 16px;
  margin-top: 20px;
}

main ul {
  padding-left: 20px;
}

main img {
  max-width: 55%;
  height: auto;
  margin: 0% 25%;
}

.black-box {
  background-color: black;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  padding: 30px;
  max-width: 600px;
}

form {
  background-color: black;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  padding: 30px;
  width: 500px;
  margin-bottom: 60px;
  justify-content: center;
  align-items: center;
}

form .form-btn {
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  justify-content: center;
}
form img {
  max-width: 40px;
  align-items: center;
  width: 25vh;
}

.circle {
  margin: 2px auto;
  width: 50px;
  border: 2px solid white;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  line-height: 50px;
}

#container {
  max-width: 100%;
  height: auto;
}

#selectBox {
  width: 100%;
  margin-bottom: 10px;
}

#imageContainer {
  text-align: center;
  bottom: 50;
  left: 0;
  width: 100%;
}

#displayedImage {
  max-width: 100%;
  max-height: 100px; /* Ajustez la hauteur maximale selon vos besoins */
  display: inline-block;
}
body h2 {
  margin: 0;
  font-size: 30px;
  color: white;
  text-align: center;
}
.btn-primary {
  background-color: rgb(220, 225, 198) !important;
  color: black !important;
  border: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
form img {
  text-align: center;
  margin-bottom: 3px;
}

.container table {
  margin-bottom: 12px;
}
